
<mat-grid-list cols="1" *ngIf="platillos.length <= 0; else divPlatillo">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divPlatillo>
    <h1>Platillos que puedes preparar</h1>
    <mat-divider></mat-divider>
    <br>
    
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAling="center" fxLayoutGap="20px">
        <div fxFlex="30" fxFlex.lg="20" fxFlex.sm="30" *ngFor="let platillo of platillos">
            <mat-card>
              <mat-card-title>{{ platillo.strMeal }}</mat-card-title>
              <mat-card-subtitle>{{ platillo.strCategory }} - {{ platillo.strArea }}</mat-card-subtitle>
              <img mat-card-md-image [src]="platillo.strMealThumb | imagen |domSanitizer">
              <mat-card-actions align="end">
                <button mat-button color="info" [routerLink]="['/platillos/detalle',platillo.idMeal]">Ver Instrucciones</button>
              </mat-card-actions>
            </mat-card>
        </div>
    </div>
</ng-template>


