<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Bienvenido</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a (click)="cambiar('bienvenido')" mat-list-item  (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>menu_book</mat-icon>
                <span>Ingredientes</span>
            </a>
            <a (click)="cambiar('platillos')" mat-list-item  (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>restaurant_menu</mat-icon>
                <span>Platillos</span>
            </a>
            <a (click)="cambiar('perfil')" mat-list-item  (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>manage_accounts</mat-icon>
                <span>Perfil</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>
    </mat-toolbar>
</mat-sidenav-container>